html {
    background-color: #869960;
}
body{
    font-family: Tahoma, sans-serif;
    font-size: 90%;
}
img {
    max-width: 100%;
    height: auto;
  }

/* Banner Overlay */
.image-banner {
    position: relative;
  }
  .image-banner img {
    display: block;
  }
  .banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    background-color: rgba(0, 0, 0, .65);
    padding: 15px 25px;
  }
    

header {
    padding-top: 20px;
    /* padding-bottom: 20px; */
    
}
header h1{
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Site Navigation */
.site-nav {
    margin-top: 20px;
}
.site-nav ul {
    margin: 0;
    padding: 0;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.site-nav a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
}
.site-nav a:hover {
    background-color: #e5e9dc;
}
/* End Site Navigation */
.content-area{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.main-area{
    width: 60%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}
.sidebar
{
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px 20px 40px;    
    box-sizing: border-box;
    font-size: 95%;
}
.fix{
    clear: both;
}
.group:before,
.group:after {
content: "";
display: table;
}
.group:after{
    clear: both;
}
.group {
    zoom: 1;
}