.box-a {
    background-color: lightgray;
    padding: 30px;
    border: 2px solid burlywood;
    margin-bottom: 20px;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
}

.box-b {
    background-color: orange;
    width: 400px;
    height: 100px;
 }